@import '~bootstrap/scss/bootstrap.scss';
@import 'abstracts/_variables.scss';
@import 'abstracts/_mixins.scss';

.cursor-pointer {
  cursor: pointer;
}

// * fonts * //

.color-grey {
  color: map-get($theme, neutal);
}

// * background colours * //

.primary-background {
  background-color: map-get($theme, background-color);
}
